.idea
.fleet
Pipfile.lock
Scratches
cache.json
data.json
__pycache__
src/private
changelog.config.js
test/TestCommandLine.test_init.approved.txt
test/TestCommandLine.test_tv_show_entourage.approved.txt
test/TestCommandLine.test_tv_show_invincible.approved.txt
